html {
    font-size: 62.5%;
}
main {
    background-image: url(images/background.jpg);
}

body {
    background-image: url(images/white.webp);
}

img {
    /*max-width for all img is advised for responsive web design*/
    max-width: 100%;
    display: block;
    margin: auto;
}

#filter-stuff-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: flex-start;
}

.filter {
    font-size: 5rem;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.filter-input {
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0.5rem;
    width: fit-content;
}

#filter-button,#remove-filter-button {
    font-size: 3rem;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1rem;
}

#filter-button:hover,#remove-filter-button:hover {
    background-image: url(images/button_hover.jpg);
}
#events-container {
    padding: 1.5% 1%;
    /*flexbox over grid cause flexbox is more flexible and thus works better when we need responsive design*/
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
	gap: 2rem 1.5rem;
}
.event {
    background-color: aliceblue;
    border: solid 1rem black;
    flex-basis: 30%;
    /*padding ensures that img and text are not glued to borders of events*/
    padding: 1.5rem;
}

.event-info {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.x-icon {
    position: absolute;
    color: black;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: white;
    padding: 0.1rem 0.7rem;
}

.x-icon:hover {
    color: white;
    background-color: red;
    cursor: pointer;
}

.event-title {
    font-size: 4rem;
    margin: 1.5rem;
}

.event-location {
    font-size: 3em;
    margin: 1rem;
}

.event-duration {
    font-size: 3em;
    margin: 1rem;
}

.event-description {
    /*ch helps limit maximum of characters per line of text, 80 is advised upper limit for responsive web design*/
    max-width: 80ch;
    font-size: 2rem;
}

#add-event-button {
    border: none;
	color: black;
	background-color: rgb(204, 204, 204);
	padding: 5rem 1.5rem;
	border-radius: 0.5rem;
    width: 100%;
    height: 10%;
    font-size: 15ch;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

#add-event-button:hover {
    color: white;
    background-image: url(images/button_hover.jpg);
}
#add-event-form-wrapper {
    background-color: whitesmoke;
}

form {
    display: grid;
    grid-column: 1fr;
    font-size: 10ch;
    background-image: url(images/white.webp);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form label {
    margin: 1rem;
}

form input,#description,#location {
    height: 3rem;
    font-size: 2.5rem;
}

#datepickers-container {
    color: white;
    border: solid 0.2rem darkgray;
    border-radius: 1em;
    padding: 1em;
    margin: 0.5em;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: flex-start;
}

#start-datepicker-header, #end-datepicker-header {
    color: black;
}

#start-datepicker, #end-datepicker {
    display: grid;
    grid-template-columns: 1fr;
}

#start-datepicker-body, #end-datepicker-body {
    display: block;
    background-color: lightgray;  
    justify-content: space-around;
    margin-top:0.3rem;
    background-image: url("images/background.jpg");
    border: solid 0.7rem black;
}

table {
    width: 100%;
    position: relative;
    margin: auto;
}

thead tr {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

tbody td{
    
}

td:hover {
    background-color: lightgray;
}

td.today {
    border: solid 0.2rem white;
    border-radius: 0.5rem;
    background: black;
}

#start-date-tbody td.selected {
    background-color: green;
    border: solid 0.2rem white;
    border-radius: 0.5rem;
}
#end-date-tbody td.selected {
    background-color: red;
    border: solid 0.2rem white;
    border-radius: 0.5em;
}

#submit {
    margin: 2.5rem;
    min-height: 5rem;
    font-size: 3rem;
    font-weight: bold;
}
.invisible {
    display: none;
}

@media screen and (max-width: 900px){

    #events-container {
        padding: 2.5% 2%;
    }
    .event {
        border: solid 1rem black;
        flex-basis: 50%;
        padding: 1rem;
    }
}

/*for mobile phones*/
@media screen and (max-width: 600px){

    #events-container {
        padding: 5% 3%;
    }
    .event {
        border: solid 1rem black;
        flex-basis: 100%;
        padding: 0.5rem;
    }

    .filter-input {
        width: min-content;
    }

}

/*dates,but initial idea, RETIRED for now
.datepicker-container {
    display: block;
    position: relative;
}

.start-datepicker, .end-datepicker {
    position: absolute;
    top: 100%;
    z-index: 100;
    margin-top: 0.2rem;
    background-image: url("images/background.jpg");
    padding: 1rem;
}

.start-datepicker-header, .end-datepicker-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.start-datepicker-header select, .start-datepicker-header input, .end-datepicker-header select, .end-datepicker-header input {
    font-size: 1.4rem;
    border: 1px solid white;
    max-width: 15rem;
    border: solid black;
}

.start-datepicker-header button, .end-datepicker-header button {
    color: black;
    padding: 0.5rem 1rem;
}

.start-datepicker-header button:hover, .end-datepicker-header button:hover {
    background-color: rgb(167, 165, 165);
}

.start-datepicker-footer, .end-datepicker-footer {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.start-datepicker-footer button, .end-datepicker-footer button {
    background: white;
    padding: 0.5rem 1rem;
}

.start-datepicker button, .end-datepicker button {
    border: solid black;
    font-size: 1.4rem;
    font-weight: 500;
}

.start-days, .start-dates, .end-days, .end-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    margin-block: 1rem;
}

.start-days span, .end-days span {
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.start-dates button, .end-dates button {
    color: black;
    aspect-ratio: 1;
}
/*.today needs to be styled before hover, otherwise hover does not work on it
.start-dates button.start-today, .end-dates button.end-today {
    background-color: black;
    color: white;
    border: solid white;
}
/*selected has to be styled after today so we can see when we select today
.start-dates button.start-selected, .end-dates button.end-selected {
    background-color: green;
    color: white;
    border: solid white;
}


.start-dates button:hover, .end-dates button:hover {
    background-color: rgb(161, 161, 161);
}
*/